body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #121212; /* Dunkler Hintergrund für den Darkmode */
    color: #ffffff; /* Weiße Schrift für den Darkmode */
}

#content {
    margin-top: 50px;
}

#text {
    display: none; /* Der Text ist standardmäßig ausgeblendet */
    font-size: 18px;
}

#error-image {
    display: none; /* Das Bild ist standardmäßig ausgeblendet */
    max-width: 100%;
    height: auto;
}
